html {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit;
}

.main {
    width: 100%;
    max-width: 900px;
    /* margin: 0 auto; 置中速寫 */
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    /* margin-top: 30px; */
    /* padding-top: 40px; */
    /* background-color: aqua; */
}

.main>header {
    text-align: center;
    /* 行內元素置中 */
    padding-top: 40px;
    padding-bottom: 40px;
    /* background-color: aquamarine; */
}


/* .main>header>img {
    width: 200px;
} */

img.logo {
    width: 200px;
    /* display: block;
    margin:0 auto;塊級元素置中 */
}

.main>nav{
    /* background-color: aquamarine; */
    border-top: 2px solid #8a8000;
    border-bottom: 2px solid #8a8000;
    margin-bottom: 40px;
}

.main>nav>ul>li{
    display: inline-block;
    width: 33.3%;
    /* background-color: red; */
    margin-right: -4px;
    /* 讓間隙消除 */
    height: 80px;
    text-align: center;
    /* 行內元素置中 */
    line-height: 80px;
    /* align-content: center;
    新版寫法-垂直置中 */

    font-size: 28px;
    font-weight: bolder;
}

.main>nav>ul>li a{
    color:black;
    text-decoration: none;
    display: block;
}

.main>nav>ul>li a:hover{
    background-color: #dcdddd;
}

.main>nav>ul>li .text_en{
    color: #8a8000;
    font-family: Arial, Helvetica, sans-serif;
}

.main>.content img{
    width: 100%;
}

/* 這是shop.html的CSS */
.shop_content>.item>.item_left{
    display: inline-block;
    width: 20%;
    margin-right: -4px;
}

.shop_content>.item>.item_left img{
    width: 100%;
}

.shop_content>.item>.item_mid{
    display: inline-block;
    width: 40%;
    margin-right: -4px;
    vertical-align: top;
}

.shop_content>.item>.item_right{
    display: inline-block;
    width: 40%;
    margin-right: -4px;
    vertical-align: top;
}